@using KonkurCRM.Core.DTOs.Adviser
@using KonkurCRM.Core.Services.Interfaces
@using KonkurCRM.DataLayer.Entities.User
@inject IAdviserService _adviserService
@model KonkurCRM.DataLayer.Entities.Advisers.Adviser

@{
    ViewData["Title"] = "AddAdviser";

    GroupAdviserViewModel groups = _adviserService.GetGroupAdvisers();

}

<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <!-- Logo Start -->
        <partial name="_Logo" />
        <!-- Logo End -->
        <!-- User Menu Start -->
        <partial name="_SidebarUserMenu" />
        <!-- User Menu End -->
        <!-- Icons Menu Start -->
        <partial name="_SidebarIconMenu" />
        <!-- Icons Menu End -->
        <!-- Menu Start -->
        <partial name="_SidebarMenu" />
        <!-- Menu End -->
        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
            <!-- Menu Button Start -->
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-cs-icon="menu"></i>
            </a>
            <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
    </div>
    <div class="nav-shadow"></div>
</div>

<main>
    <form method="post" asp-action="AddAdviser" enctype="multipart/form-data">
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-start">
            <button type="submit" class="btn btn-lg btn-gradient-secondary" href="#">
                <span>ثبت</span>
            </button>
        </div>
        <div class="text-center text-large text-primary" style="margin-bottom: 2rem">ثبت مشاور جدید</div>
        <div class="container col-12 row">
            <div class="col-6">
                <h2 class="small-title">مشخصات</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 filled">
                            <i data-cs-icon="user" class="text-muted"></i>
                            <input class="form-control" asp-for="Name" placeholder="نام">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="user" class="text-muted"></i>
                            <input class="form-control" asp-for="Family" placeholder="نام خانوادگی">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="phone" class="text-muted"></i>
                            <input class="form-control" asp-for="JobMobile" placeholder="موبایل کاری">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="phone" class="text-muted"></i>
                            <input class="form-control" asp-for="PersonalMobile" placeholder="موبایل شخصی">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="book" class="text-muted"></i>
                            <input class="form-control" asp-for="Study" placeholder="رشته">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="money" class="text-muted"></i>
                            <input class="form-control" asp-for="AccountNumber" placeholder="شماره حساب">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="diagram-1" class="text-muted"></i>
                            <select id="sParent" class="form-control select2" asp-for="ParentId" asp-items="@(ViewData["AdvisersParent"] as SelectList)"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2 class="small-title">گروه ها</h2>
                @foreach (var group in groups.GroupAdvisers)
                {
                    <div class="col-12 col-xl-8 col-xxl-9 mb-5 tab-content">
                        <!-- Permissions Tab Start -->
                        <div class="tab-pane fade active show" id="permissionsTab" role="tabpanel">
                            <div class="row row-cols-1 g-2">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="form-check custom-icon mb-0 checked-opacity-100">
                                                <input type="checkbox" name="selectedGroups" value="@group.GroupId" class="form-check-input">
                                                <span class="form-check-label">
                                                    <span class="content opacity-50">
                                                        <span class="heading mb-1 lh-1-25">@group.GroupTitle</span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Permissions Tab End -->
                    </div>
                }
            </div>
        </div>
        <partial name="_AddAdviserAsUser"/>
    </form>
</main>

@section Scripts
{
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#UserAvatar").change(function () {
        readURL(this);
    });
</script>
}
