@model KonkurCRM.DataLayer.Entities.Advisers.AdviserInvoice

@{
    ViewData["Title"] = "AddSalary";
}

<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <!-- Logo Start -->
        <partial name="_Logo" />
        <!-- Logo End -->
        <!-- User Menu Start -->
        <partial name="_SidebarUserMenu" />
        <!-- User Menu End -->
        <!-- Icons Menu Start -->
        <partial name="_SidebarIconMenu" />
        <!-- Icons Menu End -->
        <!-- Menu Start -->
        <partial name="_SidebarMenu" />
        <!-- Menu End -->
        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
            <!-- Menu Button Start -->
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-cs-icon="menu"></i>
            </a>
            <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
    </div>
    <div class="nav-shadow"></div>
</div>

<main>
    <form method="post" asp-action="AddSalary">
        <input type="hidden" asp-for="TotalAmount" value="0"/>
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-start">
            <button type="submit" class="btn btn-lg btn-gradient-secondary" href="#">
                <span>ثبت</span>
            </button>
        </div>
        <div class="text-center text-large text-primary" style="margin-bottom: 2rem">ثبت پرداخت جدید</div>
        <div class="container col-12 row">
            <div class="col-12">
                <h2 class="small-title">مشخصات</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 filled">
                            <i data-cs-icon="diagram-1" class="text-muted"></i>
                            <select id="sAdviser" class="form-control select2" asp-for="AdviserId" asp-items="@(ViewData["advisers"] as SelectList)"></select>
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="diagram-1" class="text-muted"></i>
                            <select id="sSalary" class="form-control select2" asp-for="SalaryTypeId" asp-items="@(ViewData["salaryType"] as SelectList)"></select>
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="calendar" class="text-muted"></i>
                            <input type="datetime" class="form-control" asp-for="PaySalaryDate" placeholder="تاریخ">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="tv" class="text-muted"></i>
                            <input class="form-control" asp-for="Amount" placeholder="مبلغ">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="file-text" class="text-muted"></i>
                            <textarea rows="5" class="form-control" asp-for="Description" placeholder="توضیحات"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('input[type=datetime]').datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true , changeMonth: true,
            changeYear: true });
    });

    $('#sAdviser').select2();
    $('#sSalary').select2();
</script>

