@using KonkurCRM.Core.DTOs.Plan
@using KonkurCRM.Core.Services.Interfaces
@model KonkurCRM.Core.DTOs.Plan.EditPlanViewModel
@inject IPlanService _planService

@{
    ViewData["Title"] = "ویرایش طرح";

    PlanAttributeViewModel planAttributes = _planService.GetPlanAttributes();
}

<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <!-- Logo Start -->
        <partial name="_Logo" />
        <!-- Logo End -->
        <!-- User Menu Start -->
        <partial name="_SidebarUserMenu" />
        <!-- User Menu End -->
        <!-- Icons Menu Start -->
        <partial name="_SidebarIconMenu" />
        <!-- Icons Menu End -->
        <!-- Menu Start -->
        <partial name="_SidebarMenu" />
        <!-- Menu End -->
        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
            <!-- Menu Button Start -->
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-cs-icon="menu"></i>
            </a>
            <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
    </div>
    <div class="nav-shadow"></div>
</div>

<main>
    <form method="post" asp-action="EditPlan" enctype="multipart/form-data">
        <input type="hidden" asp-for="PlanId" value="@Model.PlanId"/>
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-start">
            <button type="submit" class="btn btn-lg btn-gradient-secondary" href="#">
                <span>ثبت</span>
            </button>
        </div>
        <div class="text-center text-large text-primary" style="margin-bottom: 2rem">ثبت طرح جدید</div>
        <div class="container col-12 row">
            <div class="col-6">
                <h2 class="small-title">مشخصات</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="PlanTitle" placeholder="عنوان">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="money" class="text-muted"></i>
                            <input class="form-control" asp-for="Amount" placeholder="قیمت">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="calendar" class="text-muted"></i>
                            <input class="form-control" asp-for="Length" placeholder="طول طرح/ ماه">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2 class="small-title">ویژگی ها</h2>
                @foreach (var attr in planAttributes.PlanAttributes)
                {
                    <div class="col-12 col-xl-8 col-xxl-9 mb-5 tab-content">
                        <!-- Permissions Tab Start -->
                        <div class="tab-pane fade active show" id="permissionsTab" role="tabpanel">
                            <div class="row row-cols-1 g-2">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="form-check custom-icon mb-0 checked-opacity-100">
                                                <input type="checkbox" name="selectedAttrs" value="@attr.PlanAttributeId" class="form-check-input" @((Model.AttributePlans.Any(r => r == attr.PlanAttributeId) ? "checked" : ""))>
                                                <span class="form-check-label">
                                                    <span class="content opacity-50">
                                                        <span class="heading mb-1 lh-1-25">@attr.Title</span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Permissions Tab End -->
                    </div>
                }
            </div>
        </div>
    </form>
</main>

