@model List<KonkurCRM.DataLayer.Entities.User.Role>

@{
    ViewData["Title"] = "مدیریت نقش ها";
}


<div id="root">
    <div id="nav" class="nav-container d-flex">
        <div class="nav-content d-flex">
            <!-- Logo Start -->
            <partial name="_Logo" />
            <!-- Logo End -->
            <!-- User Menu Start -->
            <partial name="_SidebarUserMenu" />
            <!-- User Menu End -->
            <!-- Icons Menu Start -->
            <partial name="_SidebarIconMenu" />
            <!-- Icons Menu End -->
            <!-- Menu Start -->
            <partial name="_SidebarMenu" />
            <!-- Menu End -->
            <!-- Mobile Buttons Start -->
            <div class="mobile-buttons-container">
                <!-- Menu Button Start -->
                <a href="#" id="mobileMenuButton" class="menu-button">
                    <i data-cs-icon="menu"></i>
                </a>
                <!-- Menu Button End -->
            </div>
            <!-- Mobile Buttons End -->
        </div>
        <div class="nav-shadow"></div>
    </div>

    <main>
        <div class="container">
            <!-- Title and Top Buttons Start -->
            <div class="page-title-container">
                <div class="row">
                    <!-- Title Start -->
                    <div class="col-auto mb-3 mb-md-0 me-auto">
                        <div class="w-auto sw-md-30">
                            <a href="/adminpanel" class="muted-link pb-1 d-inline-block breadcrumb-back">
                                <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                                <span class="text-small align-middle">پیشخوان</span>
                            </a>
                            <h1 class="mb-0 pb-0 display-4" id="title">لیست نقش ها</h1>
                        </div>
                    </div>
                    <!-- Title End -->
                    <!-- Top Buttons Start -->
                    <div class="w-100 d-md-none"></div>
                    <div class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
                        <a href="/adminPanel/AddRole" class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
                            <i data-cs-icon="plus"></i>
                            <span>نقش جدید</span>
                        </a>
                        <div class="dropdown d-inline-block d-lg-none">
                            <button type="button"
                                    class="btn btn-outline-primary btn-icon btn-icon-only ms-1"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i data-cs-icon="sort"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end custom-sort">
                                <a class="dropdown-item sort" data-sort="name" href="#">Title</a>
                                <a class="dropdown-item sort" data-sort="email" href="#">Stock</a>
                                <a class="dropdown-item sort" data-sort="phone" href="#">Price</a>
                                <a class="dropdown-item sort" data-sort="group" href="#">Status</a>
                            </div>
                        </div>
                        <div class="btn-group ms-1 check-all-container-checkbox-click">
                            <div class="btn btn-outline-primary btn-custom-control p-0 ps-3 pe-2" data-target="#checkboxTable">
                                <span class="form-check float-end">
                                    <input type="checkbox" class="form-check-input" id="checkAll" />
                                </span>
                            </div>
                            <button type="button"
                                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-bs-offset="0,3"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <button class="dropdown-item" id="deleteChecked" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                    <!-- Top Buttons End -->
                </div>
            </div>
            <!-- Title and Top Buttons End -->
            <!-- Controls Start -->
            <div class="row mb-2">
                <!-- Search Start -->
                <div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
                    <div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
                        <input type="text" class="form-control" id="txtTitle" placeholder="عنوان طرح" />
                        <span class="search-magnifier-icon">
                            <i data-cs-icon="search"></i>
                        </span>
                        <span class="search-delete-icon d-none">
                            <i data-cs-icon="close"></i>
                        </span>
                    </div>
                </div>
                <!-- Search End -->

            </div>
            <!-- Controls End -->
            <!-- Customers List Start -->
            <div id="tableAdvisers" class="row">
                <div class="col-12 mb-5">
                    <div class="card mb-2 bg-transparent no-shadow d-none d-lg-block">
                        <div class="row g-0 sh-3">
                            <div class="col">
                                <div class="card-body pt-0 pb-0 h-100">
                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-6 col-lg-8 d-flex align-items-center text-alternate text-medium text-muted text-small">عنوان نقش</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="checkboxTable" class="role-container">
                        @foreach (var items in Model)
                        {

                            <div class="card mb-2">
                                <div class="card-body pt-0 pb-0 sh-30 sh-lg-8">

                                    <div class="row g-0 h-100 align-content-center">
                                        <div class="col-6 col-lg-8 d-flex flex-column justify-content-center mb-2 mb-lg-0 order-3 order-lg-2">
                                            <div class="text-muted text-small d-lg-none">Name</div>
                                            <a href="/adminPanel/RoleDetail/@items.RoleId">@items.RoleTitle</a>
                                        </div>
                                        <div class="col-1 col-lg-1 d-flex flex-column justify-content-center align-items-lg-end mb-2 mb-lg-0 order-2 text-end order-lg-last">
                                            <label class="form-check float-end pe-none mt-1">
                                                <input type="checkbox" class="form-check-input" />
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Customers List End -->

        </div>
    </main>
</div>


