@using KonkurCRM.Core.Services.Interfaces
@using KonkurCRM.DataLayer.Entities.Advisers
@using KonkurCRM.DataLayer.Entities.User
@inject IUserService _userService
@inject IAdviserService _adviserService
@{ 
    User user = _userService.GetUserByUserName(User.Identity.Name);
    Adviser adviser = _adviserService.GetAdviserByUserId(user.UserId);

    int adviserId = adviser.AdviserId;
}

<div class="menu-container flex-grow-1">
    <ul id="menu" class="menu">
        <li>
            <a href="/AdviserPanel">
                <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                <span class="label">پیشخوان</span>
            </a>
        </li>
        <li>
            <a href="/AdviserPanel/AdviserDetail/@adviserId">
                <i data-cs-icon="dashboard-2" class="icon" data-cs-size="18"></i>
                <span class="label">پروفایل من</span>
            </a>
        </li>
        <li>
            <a href="#Advisers">
                <i data-cs-icon="user-check" class="icon" data-cs-size="18"></i>
                <span class="label">مشاوران</span>
            </a>
            <ul id="Advisers">
                <li>
                    <a href="/AdviserPanel/advisers">
                        <span class="label">مشاوران زیر گروه من</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Students">
                <i data-cs-icon="user" class="icon" data-cs-size="18"></i>
                <span class="label">دانش آموزان</span>
            </a>
            <ul id="Students">
                <li>
                    <a href="/AdviserPanel/Students">
                        <span class="label">دانش آموزان ثبت نام شده</span>
                    </a>
                </li>
                <li>
                    <a href="/AdviserPanel/unregisteredstudents">
                        <span class="label">دانش آموزان ثبت نام نشده</span>
                    </a>
                </li>
                <li>
                    <a href="/AdviserPanel/DeletedStudents">
                        <span class="label">دانش آموزان حذف شده</span>
                    </a>
                </li>
                <li>
                    <a href="/AdviserPanel/CanceledStudents">
                        <span class="label">دانش آموزان انصرافی</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Calls">
                <i data-cs-icon="phone" class="icon" data-cs-size="18"></i>
                <span class="label">تماس ها</span>
            </a>
            <ul id="Calls">
                <li>
                    <a href="/AdviserPanel/RegisteredCalls">
                        <span class="label">تماس ها</span>
                    </a>
                </li>
                <li>
                    <a href="/AdviserPanel/UnRegisteredCalls">
                        <span class="label">تماس ثبت نام نشده ها</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#FollowUps">
                <i data-cs-icon="support" class="icon" data-cs-size="18"></i>
                <span class="label">پیگیری ها</span>
            </a>
            <ul id="FollowUps">
                <li>
                    <a href="/AdviserPanel/FollowUps">
                        <span class="label">پیگیری ها</span>
                    </a>
                </li>
                <li>
                    <a href="/AdviserPanel/UnRegisteredFollowUps">
                        <span class="label">پیگیری ثبت نام نشده ها</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Plans">
                <i data-cs-icon="notebook-2" class="icon" data-cs-size="18"></i>
                <span class="label">طرح ها</span>
            </a>
            <ul id="Plans">
                <li>
                    <a href="/AdviserPanel/ShowPlans">
                        <span class="label">طرح ها</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#Accountancy">
                <i data-cs-icon="dollar" class="icon" data-cs-size="18"></i>
                <span class="label">مالی</span>
            </a>
            <ul id="Accountancy">
                <li>
                    <a href="#pays" data-href="Customers.html">
                        <span class="label">واریزی</span>
                    </a>
                    <ul id="pays">
                        <li>
                            <a href="/AdviserPanel/ShowPays" data-href="Customers.html">
                                <span class="label">نقدی</span>
                            </a>
                        </li>
                        <li>
                            <a href="/AdviserPanel/ShowCheque" data-href="Customers.html">
                                <span class="label">چک</span>
                            </a>
                        </li>
                        <li>
                            <a href="/AdviserPanel/ShowInstallments" data-href="Customers.html">
                                <span class="label">اقساط</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#chooseAdviser">
                <i data-cs-icon="notebook-2" class="icon" data-cs-size="18"></i>
                <span class="label">انتخاب مشاور</span>
            </a>
            <ul id="chooseAdviser">
                <li>
                    <a href="/AdviserPanel/ChooseAdviser">
                        <span class="label">انتخاب مشاور</span>
                    </a>
                </li>
            </ul>
        </li>@*
        <li>
            <a href="#EventCalendar">
                <i data-cs-icon="notebook-2" class="icon" data-cs-size="18"></i>
                <span class="label">تقویم رویداد</span>
            </a>
            <ul id="EventCalendar">
                <li>
                    <a href="/AdviserPanel/Events">
                        <span class="label">تقویم</span>
                    </a>
                </li>
            </ul>
        </li>*@
        <li>
            <a href="/Logout">
                <i data-cs-icon="logout" class="icon" data-cs-size="18"></i>
                <span class="label">خروج از حساب کاربری</span>
            </a>
        </li>
    </ul>
</div>