<div class="logo position-relative">
    <a href="/AdminPanel">
        <!-- Logo can be added directly -->
        <img src="~/img/hirad.png" alt="logo" />
        <!-- Or added via css to provide different ones for different color themes -->
        @*<div class="img"></div>*@
    </a>
</div>