<div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a id="aFirstPage" class="page-link" href="#" aria-label="First">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-arrow-double-right"><path d="M8 3L14.6464 9.64645C14.8417 9.84171 14.8417 10.1583 14.6464 10.3536L8 17"></path><path d="M5 6L8.64645 9.64645C8.84171 9.84171 8.84171 10.1583 8.64645 10.3536L5 14"></path></svg>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a id="aPreviousPage" class="page-link" href="#" aria-label="Previous">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-chevron-right"><path d="M7 4L12.6464 9.64645C12.8417 9.84171 12.8417 10.1583 12.6464 10.3536L7 16"></path></svg>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                    {
                                        <li class="page-item @((i == Model.CurrentPage) ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                            <a id="aPage" class="page-link" href="#">@i</a>
                                        </li>
                                    }

                                    @if (Model.CurrentPage < Model.PageCount)
                                    {
                                        <li class="page-item">
                                            <a id="aNextPage" class="page-link" href="#" aria-label="Next">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-chevron-left"><path d="M13 16L7.35355 10.3536C7.15829 10.1583 7.15829 9.84171 7.35355 9.64645L13 4"></path></svg>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a id="aLastPage" class="page-link" href="#" aria-label="Last">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="cs-icon cs-icon-arrow-double-left"><path d="M12 17L5.35355 10.3536C5.15829 10.1583 5.15829 9.84171 5.35355 9.64645L12 3"></path><path d="M15 14L11.3536 10.3536C11.1583 10.1583 11.1583 9.84171 11.3536 9.64645L15 6"></path></svg>
                                            </a>
                                        </li>
                                    }
                                    <a id="pageCount" hidden>@Model.PageCount</a>
                                    <a id="currentPage" hidden>@Model.CurrentPage</a>
                                </ul>
                            </nav>
                        </div>