@using KonkurCRM.Core.Convertor
@model KonkurCRM.DataLayer.Entities.Pays.Cheque

@{
    ViewData["Title"] = "ویرایش چک";
}

<div id="nav" class="nav-container d-flex">
    <div class="nav-content d-flex">
        <!-- Logo Start -->
        <partial name="_Logo" />
        <!-- Logo End -->
        <!-- User Menu Start -->
        <partial name="_SidebarUserMenu" />
        <!-- User Menu End -->
        <!-- Icons Menu Start -->
        <partial name="_SidebarIconMenu" />
        <!-- Icons Menu End -->
        <!-- Menu Start -->
        <partial name="_AdviserSidebarMenu" />
        <!-- Menu End -->
        <!-- Mobile Buttons Start -->
        <div class="mobile-buttons-container">
            <!-- Menu Button Start -->
            <a href="#" id="mobileMenuButton" class="menu-button">
                <i data-cs-icon="menu"></i>
            </a>
            <!-- Menu Button End -->
        </div>
        <!-- Mobile Buttons End -->
    </div>
    <div class="nav-shadow"></div>
</div>

<main>
    <form method="post" asp-action="EditCheque">
        <input type="hidden" asp-for="ChequeId" value="@Model.ChequeId" />
        <input type="hidden" asp-for="RegisterId" value="@Model.RegisterId" />
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-start">
            <button id="btnSave" type="submit" class="btn btn-lg btn-gradient-secondary" href="#">
                <span>ثبت</span>
            </button>
        </div>
        <div class="text-center text-large text-primary" style="margin-bottom: 2rem">ویرایش چک</div>
        <div class="container col-12 row">
            <div class="col-12">
                <h2 class="small-title">مشخصات</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 filled">
                            <i data-cs-icon="tv" class="text-muted"></i>
                            <input id="Amount" onkeyup="separateNum(this.value, this);" value="@Model.Amount" class="form-control" placeholder="مبلغ">
                            <input type="hidden" id="FinalAmount" asp-for="Amount">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="calendar" class="text-muted"></i>
                            <input type="datetime" class="form-control" asp-for="ChequeDate" value="@Model.ChequeDate.ToShamsi()" placeholder="تاریخ چک">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="Owner" placeholder="صادر کننده چک">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="ChequeNumber" placeholder="شماره چک">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="AccountNumber" placeholder="شماره حساب">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="note" class="text-muted"></i>
                            <input class="form-control" asp-for="ForWho" placeholder="در وجه">
                        </div>
                        <div class="mb-3 filled">
                            <i data-cs-icon="file-text" class="text-muted"></i>
                            <textarea rows="5" class="form-control" asp-for="Description" placeholder="توضیحات"></textarea>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" asp-for="IsPass" type="checkbox" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">پاس شده</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<script type="text/javascript">

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }

    jQuery(document).ready(function($) {
        var myButton = $("#btnSave");
        var amount = $('#Amount');
        myButton.click(function() {
            var amountValue = amount.val();

            amountValue = amountValue.replace(/,\s?/g, "");

            document.getElementById("FinalAmount").value = amountValue;
        });
    });

    jQuery(document).ready(function($) {
        $('input[type=datetime]').datepicker({
            dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true, changeMonth: true,
            changeYear: true
        });
    });

</script>

